<h1>Letters</h1>
<ul>
<% @letters.each do |letter| %>
  <li><%= link_to "Letter \##{letter.letter_number}", letter %></li>

      <% if letter.user.present? %>
      <small><%= letter.user.email %></small>
    <% end %>
<% end %>
</ul>
